@import 'commonStyles/constants.scss';

.tile-config-editor {
  display: inline-block;
  vertical-align: top;
  box-shadow: $shadow-medium;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 21rem;
  overflow: visible; // in order to see tooltips
  background-color: rgba(blue, 0.05);

  h4 {
    margin-top: 0;
  }

  .numeric-field-label {
    width: 17.75em; // hardcoded to look nicely
    display: inline-block;
  }

  .numeric-field {
    width: 5em;
    display: inline-block;
  }
}

.remove-button {
  float: right;
  font-size: 1.5rem;
}