@import "commonStyles/constants.scss";

.search-bar {
  display: inline-block;
  font-size: 1rem;
  box-shadow: $shadow-medium;
  width: fit-content;
  padding: 0 0.5rem;
  background-color: $primary-color;
  z-index: 1; // to be on top of tooltips

  .input, label {
    margin: 0.5rem 0;
  }

  label {
    display: inline-block;
    margin-right: 0.5rem;
  }

  position: sticky;
  top: 1rem;
}