@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400;700&display=swap');
@import 'commonStyles/constants.scss';
@import 'commonStyles/layout.scss';

// A base stylesheet describing base rules for all elements on page.

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $primary-color;
  color: $font-color;
}

code, textarea {
  font-family: 'Roboto Mono', monospace;
}

button, input {
  font-family: 'Roboto', sans-serif;
}

a, input, button, textarea {
  outline: 2px dashed transparent;
  transition-property: outline-color, outline-offset;
  transition-duration: $transition-normal;
  &:focus {
    outline-offset: 0.25rem;
    outline-color: $accent-color;
  }
}

::selection {
  background-color: rgba($accent-color, 0.4);
}

strong {
  color: $accent-color;
  font-weight: $font-bold;
}

span, p {
  font-weight: $font-regular;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: $font-color;
  font-size: 1em;
}

svg {
  display: inherit;
}