@import "@commonStyles/constants.scss";

section.neighbor-constraint-editor {
  background: transparent;

  .remove-button {
    float: right;
    font-size: 1em;
  }

  .constraint-id-label {
    color: $accent-color;
  }

  .constraint-label {
    display: inline-block;
    width: 10em;
  }

  .constraint-input {
    display: inline-block;
    width: 5em;
  }
}

