@import '@commonStyles/constants.scss';

$bg-primary: #C97B5D;
$bg-secondary: #EED7C5;

@keyframes funny-rotate-no-dissy {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tile-preview {
  display: inline-block;
  position: relative;
  border: 2px solid $bg-secondary;
  border-radius: 2em;
  width: 20rem;
  color: white;
  overflow: hidden;
  box-shadow: $shadow-big;
  font-family: $font-aclonica;

  &::before {
    position: absolute;
    width: 50rem;
    height: 50rem;
    top: calc(-25rem + 50%);
    left: calc(-25rem + 50%);
    content: '';
    z-index: -1;
    background-repeat: repeat;
    animation-duration: 240s;
    animation-name: funny-rotate-no-dissy;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &.city-lvl-1::before {
    background-image: url('city-lvl-1-bg.svg');
  }

  &.forest::before {
    background-image: url('forest-bg.svg');
  }

  &.grassland::before {
    background-image: url('grassland-bg.svg');
  }

  &.hills::before {
    background-image: url('hills-bg.svg');
  }

  &.mountains::before {
    background-image: url('mountains-bg.svg');
  }

  &.shore-water::before {
    background-image: url('shore-water-bg.svg');
  }

  .header-container {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 1rem;
    box-shadow: $shadow-medium;
  }

  .tile-images {
    width: 100%;
    height: 24rem;
    margin: 1rem 0;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
      width: 0
    }

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      scroll-snap-align: end;
      padding: 1em 0;
      margin: 2rem 0;
      width: 17rem;
      display: inline-block;
      filter: drop-shadow(0 0 0.3em black);
    }
  }


  .tile-description {
    text-align: center;
    box-shadow: $shadow-medium;
    font-family: $font-eagle-lake;

    p {
      font-size: 1em;
      margin: 0;
      padding: 1rem;

      i {
        font-family: $font-reggae-one;
      }
    }
  }

  .header-container, .tile-description {
    background-color: rgba(black, 0.3);
  }
}