@import 'commonStyles/constants.scss';

.json-viewer {
  h2 {
    margin-top: 0;
  }

  textarea {
    width: 100%;
    height: 30rem;
    padding: 0.5rem;
    display: block;
    background: transparent;
    color: $accent-color;
    resize: vertical;
    border: 2px dashed rgba(black, 0.1);
    box-sizing: border-box;
    margin-bottom: 1rem;

    transition-property: $outline-properties, border-bottom-color, border-left-color, border-right-color, border-top-color;
    transition-duration: $transition-normal;

    &:hover {
      border-color: rgba($accent-color, 0.5);
    }

    &:active, &:focus {
      border-color: transparent;
    }
  }

  .ctrl-z-note {
    margin-left: 0.5em;
    font-size: 0.6em;
    font-weight: $font-thin;
    color: rgba($font-color, 0.5);
  }

  .error-message strong {
    color: $error-color;
  }
}