@import 'commonStyles/constants.scss';

.input {
  &.block {
    display: block;
  }

  &.inline-block {
    display: inline-block;
  }

  label {
    display: inline-block;
    font-size: 0.9em;
    color: $accent-color;
  }

  input {
    display: block;
    background-color: transparent;
    padding: 0.2em 0.3em;
    color: $font-color;
    font-size: 1em;
    box-sizing: border-box;

    border: 2px dashed rgba(black, 0.2);
    transition-property: $outline-properties, border-bottom-color, border-left-color, border-right-color, border-top-color;
    transition-duration: $transition-normal;

    &:hover {
      border-color: rgba($accent-color, 0.5);
    }

    &:active, &:focus {
      border-color: transparent;
    }

    &::placeholder {
      color: rgba($font-color, 0.5)
    }
  }

  .radio-label {
    color: $font-color;
  }

  input[type="radio"] {
    display: inline-block;
    margin-left: 0;
  }

  .add-input {
    font-size: 1.6em;
    display: block;
    margin-top: 0.3em;
  }
}

.array-input {
  margin: 0.3rem 0;
  display: flex;
  align-content: center;
  input, button {
    display: inline-block;
  }
  button {
    font-size: 1.5em;
  }
  input {
    width: calc(100% - 2rem);
    margin-right: 0.3rem;
  }
}